<!-- <form action="/users/create" accept-charset="UTF-8" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <label for="uname">username:</label>
  <input type="text" id="uname" name="user[username]"><br><br>
  <label for="email">email:</label>
  <input type="text" id="email" name="user[email]"><br><br>
  <label for="pword">password:</label>
  <input type ="text" id="pword" name="user[password]"><br><br>
  <input type="submit" value="Submit">
</form> -->

<% @user.errors.full_messages.each do |error| %>
  <%= error %>
<% end %>

<%= form_tag users_path do %>
  <%= label_tag 'username', 'username:' %>
  <%= text_field_tag 'user[username]' %>

  <%= label_tag 'email', "email:" %>
  <%= email_field_tag 'user[email]' %>

  <%= label_tag 'password', "password:" %>
  <%= password_field_tag 'user[password]' %>

  <%= submit_tag "Submit" %>
<% end %>